/*Main Classes*/
body{
    color: Black;
    background-color: seashell;
    scrollbar-shadow-color:#2ecc71;
    scrollbar-color: #2c3e50;
    scrollbar-darkshadow-color: #2c3e50;
    scrollbar-track-color: #2c3e50;
    font-family: 'Recursive', Helvetica, Arial, sans-serif;
    font-weight: 700;
}
main{
    margin: auto;
    padding: auto;
    border-color: #2c3e50;
    border-radius: 3px;
    border-style: solid;
}
header{
    position:fixed;
    top: 0;
    border-bottom-style: solid;
    border-bottom-color:  #2c3e50;
    margin: 0px;
    align-items: center;
    text-align: center;
}
/*Sub Classes*/
nav{
    margin:-25px 0vw 0px -25px;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 1px #2c3e50;
    border-radius: 3px;
    border-color:#34495e;
    border-style: solid;
    background: #2c3e50;
    border-bottom-width: 7px;
    border-right-width: 7px;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-right: 50px;
    box-shadow: 2px 2px 4px #7f8c8d;
    position: fixed;
    top: 0;
    width: 100%;
}
article{
    padding: auto;
    color: black;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-image: url(triangles.png);
    background-size: 150%;
    border-color: black;
    border-style: solid;
    border-radius: 0px;
    border-top-width: 3px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}
/*Secondary Sub Classes*/
iframe{
    border-color: black;
    border-style: solid;
    border-radius: 0px;
    border-width: 3px;
}
button {
    background: #706fd3;
    border: none;
    color: #2c2c54;
    border-radius: 7px;  
    box-shadow: 6px 9px 4px #2c2c54;   
    padding: 5px 10px;
    font-size:large
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}
li:first-child a{
    padding-left: 30px;
}
li:last-child a{
    padding-left: 30px;
    padding-right: 30px;
    margin-right: -20px
}
li a:hover {
    background-color: #16a085;
    margin-left: 0px;
}
/*classes*/
.active {
    background-color: #2c3e50;
    color: #bdc3c7;
}
li.active a{
    background-color: #2c3e50;
    color: #bdc3c7;
}
li.active h1{
    color: #bdc3c7;
}
.titlebox{
    border-color: black;
    border-style: solid;
    border-radius: 0px;
    border-width: 3px;
    margin: auto;
    margin-top: 90px;
    background-image: url(triangles.png);
    max-width: 1200px;
}
img.embeded{
    border-color: black;
    border-style: solid;
    border-radius: 0px;
    border-width: 3px;
}
p.text{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1000px;
}
article.fullbarcolor{
    margin-top: 30px;
    padding: 20px;
    margin-right: -50px;
    margin-left: -50px;
    background-color: #2c3e50;
    color: white;
}
article.fullbarwhite{
    margin-top: 30px;
    padding: 20px;
    margin-right: -50px;
    margin-left: -50px;
    background-color: white;
}
article.header{
    max-width: 500px;
    padding-bottom: 20px;
}
h1.header{
    font-size: 35px;
}
.rightfloat{
    float: right;
    margin-right: 15%;
}
.leftfloat{
    float: left;
    margin-top: 50px;
    margin-left: 15%;
}
p.leftfloat{
    max-width: 300px;
    margin-top: 20px;
}
.maintitle{
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #2ecc71;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #16a085;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1abc9c;
  }
/*Text*/
text{
    color: black;
}
h1{
    color: black;
    margin: 0px;
    padding: 0px;
}
h2{
    color: #1abc9c;
}
h3{
    color: #1abc9c;
}
h4{
    color: #1abc9c;
}
h5{
    color: #1abc9c;
}
h6{
    color: #1abc9c;
}
b{
    font-weight: bolder;
}
a{
    text-decoration: none;
}
a:hover{
    color: #34495e;
    text-decoration: underline;
}
a:visited{
    color: #34495e;
}
a:link{
    color: #34495e;
}